.Crew {
    background: url("../starter-code/assets/crew/background-crew-mobile.jpg")
      no-repeat center/cover;
    height: calc(120vh + 1px);
    color: #d0d6f9;
    text-align: center;
    padding-top: 4em;
  }
  .People {
    width: 85%;
    margin: 2.5em auto 1.5em;
    border-bottom: 1px solid #383B4B;
  }
  .People h2 {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2.5px;
  }
  .People span {
    font-size: 1rem;
    font-weight: 100;
    margin-right: 2px;
    opacity: 0.6;
  }
  .Crew img {
    margin-top: 2em;
    margin-bottom: -.2em;
    margin-inline: auto;
    width: 15em;
    height: 18em;
  }
  
  .Crew__buttons {
    display: flex;
    justify-content: center;
  }
  .Crew__details {
    width: 85%;
    margin: auto;
  }
  .Crew__details button {
    background: transparent;
    border: 2px solid white;
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 2.5px;
    border-radius: 50%;
    transition: border-bottom 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
  }
  .Crew__details button.active{
    background: white;
  }
  .Crew__details button:hover,
  .Crew__details button:focus {
    background: #ffffff;
    font-weight: 200;
  }
  .Crew__details button + button {
    margin-left: 5px;
  }
  .Crew__details h3 {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 200;
    margin: 0.5em auto 0;
  }
  .Bio {
    font-weight: 100;
    line-height: 1.5em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 2em;
  }

  
  @media only screen and (min-width: 50em) {
    .Crew {
      background: url("../starter-code/assets/crew/background-crew-tablet.jpg")
        no-repeat center/cover;
    }
    .People {
      margin-top: 4em;
    }
    .People h2,
    .People span {
      font-size: 1.4rem;
      text-align: left;
    }
    .Crew__details h3 {
      font-size: 5rem;
    }
    .Crew__details p {
      font-size: 1.3rem;
    }
    .Crew img {
      width: 15em;
      height: 15em;
    }
    .Crew__details button {
      font-size: 1.9rem;
      margin-top: 1em;
    }
    .Crew__details h3 {
      margin-bottom: 0.5em;
    }
    .Bio {
      max-width: 600px;
    }
  }
  @media only screen and (min-width: 67em) {
    .Crew {
      background: url("../starter-code/assets/crew/background-crew-desktop.jpg")
        no-repeat center/cover;
      padding-top: 5em;
    }
    .Crew__wrapper {
      width: 90%;
      margin-inline: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5em;
    }

    .People img {
      width: 30em;
      height: 30em;
    }
    .People h2,
    .People span {
      white-space: nowrap;
      text-align: center;
      /* margin: 0; */
      font-size: 2.1rem;
      margin-bottom: 3em;
    }
    .Crew__details {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .Crew__details h3{
     margin: 0;
    }
  .Crew__buttons{
    margin-bottom: 3em;
  }
    .Bio{
      margin: 0;
    }
  }
  