.Navbar {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.Logo-container {
  width: 2.7em;
}
.Nav {
  position: relative;
  overflow: hidden;
}

.Nav.active{
  overflow: visible;
}
.Close {
  width: 40px;
  height: 40px;
  margin: -2em 0em 3em 70%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.Nav-group {
  width: calc(65vw + 1px);
  height: calc(100vh + 1px);
  position: absolute;
  top: -2.1em;
  left: calc(6vw + 1px);
  display: flex;
  flex-direction: column;
  background: rgba(42, 35, 56, 0.26);
  overflow: hidden;
  padding-top: 5em;
  backdrop-filter: blur(30px);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Nav-group.active {
  left: calc(-56vw + 1px);
  overflow: visible;
}
.Nav-group ul {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  margin-top: 2em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
}
.Nav-group span {
  margin-right: 0.5em;
}
.Nav-group a {
  position: relative;
  width: fit-content;
}
.Nav-group a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: none repeat scroll 0 0 #ffffff;
  transition: all 0.5s ease-out;
}
.Nav-group a:hover::after {
  width: 100%;
}
.Nav-group a {
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.Hamburger {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2em;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 50em) {
  .Active-nav{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 1.5em;
  }
  .Hamburger {
    display: none;
  }
  .Nav{
    overflow: visible;
  }
  .Nav-group {
    position: relative;
    /* top: 2em; */
    left: calc(4.5vw + 1px);
    width: calc(48vw + 1px);
    height: calc(12vh + 1px);
    justify-content: center;
    align-items: center;
    padding: 1em 2.5em 0em 0em;
  }
  .Nav-group ul {
    flex-direction: row;
    margin-top: 0;
  }
  .Nav-group a::after {
    bottom: -1.59em;
  }
  .Close {
    display: none;
  }
  .Nav-group span {
    display: none;
  }
}
@media only screen and (min-width: 67em) {
  .Navbar {
    margin-top: 2em;
  }
  .Nav::before {
    content: "";
    position: absolute;
    left: calc(-15vw + 1px);
    bottom: calc(9.5vh + 1px);
    width: calc(22vw + 1px);
    height: 1px;
    background: #979797;
    z-index: 2;
  }
  .Nav-group {
    width: calc(68vw + 1px);
    height: 6em;
    max-width: 46em;
    left: calc(4.5vw + 10px);
  }
  .Nav-group ul {
    gap: 3em;
  }
  .Nav-group span {
    display: inline;
  }
}
@media only screen and (min-width: 1254px) {
  .Nav::before {
    width: calc(37vw + 1px);
    left: calc(-29vw + 1px);
  }
}
