.Navbar{
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.Logo-container{
    width: 2.7em;
}
.Nav{
    position: relative;
}
.Close{
    width: 35px;
    height: 35px;
    margin: -2em 0em 3em 70%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.Nav-group{
    position: absolute;
    top: -2.1em;
    left: calc(6vw + 1px);
    display: flex;
    flex-direction: column;
    background: rgba(42, 35, 56, 0.26);
    width: calc(65vw + 1px);
    height: calc(100vh + 1px);
    padding-top: 5em;
    backdrop-filter: blur(10px);
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.Nav-group.active{
    left: calc(-56vw + 1px);
}
.Nav-group ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
.Nav-group span{
    margin-right: .5em;
}
.Nav-group li{
    position: relative;
    width: fit-content;
}
.Nav-group li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5em;
    width: 0%;
    height: 2px;
    background: none repeat scroll 0 0 #ffffff;
    transition: all .5s ease-out;
}
.Nav-group li:hover::after{
    width: 100%;
}
.Nav-group a{
    color: rgb(255, 255, 255);
    font-weight: 200;
}
.Hamburger{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2em;
    background: none;
    border: none;
    cursor: pointer;
}
