/* ### Google font: Barlow Condensed */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&display=swap');
/* ### Google font: Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap');
/* ### Google font: Bellefair */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root{
  --ff-b-condensed: 'Barlow Condensed', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-bellefair: 'Bellefair', serif;
}
*{
  box-sizing: border-box;
}
html{
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ### General styles */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
.ff-barlow_cond{
  font-family: var(--ff-b-condensed);
}
.ff-barlow{
  font-family: var(--ff-barlow);
}
.ff-bellefair{
  font-family: var(--ff-bellefair);
}
